<div class="board" ng-controller="boardController">
    <a ui-sref="menu">Main Menu</a>

    <div class="player race0" ng-click="playerActiveBar = 0" ng-class="{activeBar: playerActiveBar == 0}"> Race 1</div>
    <div class="player race1" ng-click="playerActiveBar = 1" ng-class="{activeBar: playerActiveBar == 1}">Race 2</div>
    <div class="player race2" ng-click="playerActiveBar = 2" ng-class="{activeBar: playerActiveBar == 2}">Race 3</div>
    <div class="player race3" ng-click="playerActiveBar = 3" ng-class="{activeBar: playerActiveBar == 3}">Race 4 (you)</div>

    <div class="tableMassive" ng-controller="tableController">
        <!--<div ng-repeat="playerBar in tables"-->
             <!--class="player race{{$index}}"-->
             <!--ng-click="playerActiveBar = $index"-->
             <!--ng-class="{activeBar: playerActiveBar == $index}">-->
            <!--Race{{$index}} - {{playerBar}}-->
        <!--</div>-->

        <div ng-repeat="raceTable in tables"
             class="table table-race{{$index}}"
             ng-class="{tableShow: playerActiveBar == $index}">
            <!--<div>{{table.race}}</div>-->

            <div class="resources">
                <div ng-repeat="resource in table.resources">
                    <span>{{resMatrix[$index]}}:</span><span>{{resource}}</span>
                </div>
            </div>
            <div class="buildings">
                <div class="row trades">
                    <div class="card"
                         ng-repeat="card in table.buildings.trades"
                         ng-click="setID(card)"
                         ng-class="{'card-active': boardActiveCard == card }">
                        {{card.name}} {{card.id}}
                    </div>
                </div>
                <div class="row productions">
                    <div class="card"
                         ng-repeat="card in table.buildings.production"
                         ng-click="setID(card)"
                         ng-class="{'card-active': boardActiveCard == card }">
                        {{card.name}} {{card.id}}
                    </div>
                </div>
                <div class="row feature">
                    <div class="card"
                         ng-repeat="card in table.buildings.feature"
                         ng-click="setID(card)"
                         ng-class="{'card-active': boardActiveCard == card }">
                        {{card.name}} {{card.id}}
                    </div>
                </div>
                <div class="row action">
                    <div class="card"
                         ng-repeat="card in table.buildings.action"
                         ng-click="setID(card)"
                         ng-class="{'card-active': boardActiveCard == card }">
                        {{card.name}} {{card.id}}
                    </div>
                </div>
            </div>
            <div class="cards">
                <div class="card"
                     ng-repeat="card in table.hand track by $index"
                     ng-click="setID(card)"
                     ng-class="{'card-active': boardActiveCard == card }">
                    {{card.name}}
                    {{card.id}}
                </div>
            </div>

            <div class="card-buttons" ng-if="boardActiveCard !== undefined">
                <p>{{boardActiveCard.name}}{{boardActiveCard.id}}</p>
                <div ng-if="!boardActiveCard.builded">
                    <!-- active if has enough resources-->
                    <button class="build-card button" ng-click="buildIt(boardActiveCard)">build</button>
                    <!-- active if has sword-->
                    <button class="raze-card button" ng-click="razeMyCard(boardActiveCard)">raze self card</button>
                    <!-- active if has tomato/gold-->
                    <button class="make-deal button" ng-click="makeDeal(boardActiveCard)">make deal</button>
                </div>
                <div ng-if="boardActiveCard.builded">
                    <!-- active if has builded and card is active-->
                    <button class="activate-card button">use active</button>
                    <!-- active if has sword-->
                    <button class="raze-card button"
                            ng-click="razeEnemyCard(boardActiveCard)"
                            ng-if="boardActiveCard.buildedBy !== 'myBoard.playerId'">
                        raze
                    </button>
                </div>
            </div>

        </div>
    </div>
</div>