html {
  overflow: hidden;

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;

  .board {
    position: relative;

    .table {

      box-sizing: border-box;
      padding: 10px;
      width: 90vw;
      height: 90vh;
      background-color: $color2;
      position: fixed;

      .resources {
        width: 20%;
        height: 100%;
        border: 3px solid #d0ce3f;
        float: left;
        margin-left: 10px;
      }

      &.tableShow {
        top: 5vh;
        left: 5vw;
      }

      .card-buttons {
        width: 15vw;
        position: fixed;
        bottom: 6vh;
        left: 6vw;
        border: 2px solid black;
        box-shadow: 0 0 15px 10px rgba(255, 215, 0, 0.69);
        z-index: 999;


        .button{
          width: 100%;
          height: 20px;
          margin: 5px auto;
        }
      }

      &.table-race0 {
        background-color: $color5;
        transition-property: top;
        transition-duration: 1s;
        top: -100vh;
        left: 5vw;
      }

      &.table-race1 {
        background-color: $color1;
        transition-property: left;
        transition-duration: 1s;
        top: 5vh;
        left: -100vw;
      }

      &.table-race2 {
        background-color: $color7;
        transition-property: left;
        transition-duration: 1s;
        top: 5vh;
        left: 100vw;
      }

      &.table-race3 {
        background-color: $color2;
        transition-property: top;
        transition-duration: 1s;
        top: 100vh;
        left: 5vw;
      }


      .card {

        height: 100%;
        width: 10vw;
        border: 2px solid black;
        display: inline-block;
        margin-right: 10px;
        background-color: rgb(243, 201, 238);
        transition-property: transform;
        transition-duration: .5s;

        &:hover{
          box-shadow: 0 0 15px 10px rgba(255, 215, 0, 0.69);
          -webkit-box-shadow: 0 0 15px 10px rgba(255, 215, 0, 0.69);
          -moz-box-shadow: 0 0 15px 10px rgba(255, 215, 0, 0.69);
        }

      }




      .buildings {
        box-sizing: border-box;
        padding: 10px;
        display: inline-block;
        border: 3px solid #d0ce3f;
        width: 75%;
        height: 70%;
        margin-bottom: 10px;

        .row {
          height: 30%;

          &.active {
            display: block;
          }

          &.drop-hover {
            padding: 2px;
          }
        }
      }

      .cards {
        box-sizing: border-box;
        padding: 10px;
        display: inline-block;
        border: 3px solid #d0ce3f;
        height: 23%;
        width: 75%;

        .card {
          &:hover {
            background: #3175bc;
            -webkit-box-shadow: 5px 5px 3px 0 rgba(0,0,0,0.5);
            -moz-box-shadow: 5px 5px 3px 0 rgba(0,0,0,0.5);
            box-shadow: 5px 5px 3px 0 rgba(0,0,0,0.5);
          }

          &.card-active{
            transform: scale(1.4);
          }
        }


      }

    }


    .player {
      border: 2px solid white;
      border-radius: 3px;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      top: 0;
      margin: auto;

      &.activeBar {
        background-color: rgb(42, 243, 33);
      }

      &.race0,
      &.race3 {
        position: fixed;
        height: 5vh;
        /*margin: 0 auto;*/
        width: 50%;
        left: 25%;
        background-color: rgb(213, 243, 140);
        z-index: 10;
      }
      &.race0 {
        top: 0;
      }
      &.race3 {
        bottom: 0;
      }
      &.race1,
      &.race2 {
        position: fixed;
        height: 70%;
        width:  5vw;
        top: 15%;
        margin: auto 0;
        background-color: rgb(213, 243, 140);
        z-index: 10;
      }
      &.race1 {
        left: 0;
      }
      &.race2 {
        right: 0;
      }

      &.me {
        width: 60%;
        height: 10%;
        top: auto;
        margin: 0 auto;
        border-bottom: none;

      }

      &.left {
        position: absolute;
        width: 5%;
        height: 60%;
        right: auto;
        margin: auto 0;
        border-left: none;
      }

      &.right {
        position: absolute;
        width: 5%;
        height: 60%;
        left: auto;
        margin: auto 0;
        border-right: none;
      }

      &.top {
        position: absolute;
        width: 60%;
        height: 10%;
        bottom: auto;
        margin: 0 auto;
        border-top: none;
      }
    }
  }
}
}