<!DOCTYPE html>
<html lang="en" ng-app="someGame">
<head>
    <meta charset="UTF-8">
    <title>Settlers v1</title>
    <link rel="stylesheet" href="../src/style/main.css">
    <script src="../node_modules/angular/angular.min.js"></script>
    <script src="../node_modules/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="app.js"></script>

    <!--<script src="../node_modules/jquery/jquery-2.2.0.min.js"></script>-->
    <!--<link rel="stylesheet" href="jquery-ui/themes/base/all.css">-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body ng-controller="mainController">


<div ui-view></div>

<!--<div class="board" ng-controller="boardController">-->
    <!--<a ui-sref="menu">Main Menu</a>-->
    <!--<div class="tableMassive">-->
        <!--<div ng-repeat="tables in [0, 1, 2, 3]" class="table table-race{{$index}}" ng-class="{tableShow: playerActiveBar == $index}">-->
            <!--<div class="resources">-->
                <!--<div></div>-->
            <!--</div>-->
            <!--<div class="buildings">-->
                <!--<div class="row productions active">-->
                    <!--<div class="card"></div>-->
                    <!--<div class="card"></div>-->
                <!--</div>-->
                <!--<div class="row features"></div>-->
                <!--<div class="row actions"></div>-->
            <!--</div>-->
            <!--<div class="cards">-->
                <!--<div class="card"></div>-->
                <!--<div class="card"></div>-->
                <!--<div class="card"></div>-->
                <!--<div class="card"></div>-->
            <!--</div>-->

        <!--</div>-->
    <!--</div>-->
    <!--&lt;!&ndash;<div class="player top race{{$index}}" ng-repeat="playerBar in [0, 1, 2, 3]" ng-click="playerActiveBar = $index" ng-class="{activeBar: playerActiveBar == $index}">Race{{$index}}</div>&ndash;&gt;-->
    <!--<div class="player top race0" ng-click="playerActiveBar = 0" ng-class="{activeBar: playerActiveBar == 0}"> Race 1</div>-->
    <!--<div class="player left race1" ng-click="playerActiveBar = 1" ng-class="{activeBar: playerActiveBar == 1}">Race 2</div>-->
    <!--<div class="player right race2" ng-click="playerActiveBar = 2" ng-class="{activeBar: playerActiveBar == 2}">Race 3</div>-->
    <!--<div class="player me race3" ng-click="playerActiveBar = 3" ng-class="{activeBar: playerActiveBar == 3}">Race 4 (you)</div>-->
<!--</div>-->

<!--<script src="jquery/dist/jquery.min.js"></script>-->
<!--<script src="jquery-ui/jquery-ui.min.js"></script>-->
<!--<script src="modules/Test.js"></script>-->

</body>
</html>